.adv {

	position: relative;
	color: #929497;
	text-align: center;
	vertical-align: middle;

	.adv-closer {
		width: 100px;
		height: 24px;
		display: block;
		background: #e5e6e7;
		border: 1px solid #bdbfc1;
		position: absolute;
		top: 0px;
		right: 0px;
		background: #fff;
		cursor: pointer;
		color: #000;
		padding-left: 5px;
		text-align: left;

		.the-x {
			height: 22px;
			width: 22px;
			background: #e5e6e7;
			border: 0px;
			border-left: 1px solid #bdbfc1;
			display: block;
			position: absolute;
			color: #f00;
			top: 0px;
			right: 0px;
			background: #fff;
			text-align: center;
		}
	}

	&.adv-top {
		width: 1100px;
		height: 90px;
		background: #e5e6e7;
		border: 1px solid #bdbfc1;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		margin-right: auto;
		margin-left: auto;
	}

	&.adv-top-left {
		// position: absolute;
		position: fixed;
		left: -170px;
		top: 0px;

		@media screen and (max-width: 1366px) {
			// display: none;

		}
	}
	&.adv-top-right {
		// position: absolute;
		position: fixed;
		right: -170px;
		top: 0px;

		@media screen and (max-width: 1366px) {
			// display: none;
		}
	}

	&.adv-1100-90 {
		width: 1100px;
		height: 90px;
		background: #d0d2d4;
		border: 1px solid #d0d2d4;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		margin-right: auto;
		margin-left: auto;
		color: #fff;

		margin-bottom: 10px;
	}

	&.adv-160-600 {
		width: 160px;
		height: 600px;
		background: #d0d2d4;
		border: 1px solid #d0d2d4;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		margin-right: auto;
		margin-left: auto;
		color: #fff;
	}

	&.adv-790-100 {
		width: 790px;
		height: 100px;
		background: #d0d2d4;
		border: 1px solid #d0d2d4;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		margin-right: auto;
		margin-left: auto;
		color: #fff;

		margin-bottom: 10px;
	}

	&.adv-300-250 {
		width: 300px;
		height: 250px;
		background: #d0d2d4;
		border: 1px solid #d0d2d4;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		margin-right: auto;
		margin-left: auto;
		color: #fff;

		margin-bottom: 1px;
	}
}


.position-fixed {
	position: fixed !important;
}

		@media screen and (max-width: 1366px) {
			// display: none;
			body {
				overflow-x: hidden;
			}
		}
