/*Horizontal Module*/
.news-module-hor{
    width: auto;
    height: 140px;
    display: block;
    margin-bottom: 20px;
}

.news-module-hor-img > img{
    width: 230px;
    /*height: inherit;*/
    height: 143px;
    float: left;
    display: inline-block;
    overflow: hidden;
    background-color: yellow;
}

.news-module-hor-img{
    max-height: 140px;
    max-width: 230px;
    overflow: hidden;
    float: left;
}

.news-module-hor-content{
    width: 530px;
    height: inherit;
    display: inline-block;
    padding-left: 10px;
    padding-top: 8px;
}

.news-module-hor-title{
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
}

.news-module-hor-desc{
    font-weight: normal;
    font-size: 14px;
    padding-top: 10px;

}

.news-module-hor-etc{
    padding-top: 5px;
}

.news-module-hor-tag{
    background-color: #FF6600;
    color: #FFF;
    font-size: 10px;
    padding: 7px 15px;
    margin-top: 5px;
    position: relative;
}

.orange-tooltip > img{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 30px;
    top: -10px;
}

.news-module-hor-info{
    margin-top: 8px;
    margin-right: 20px;
    margin-left: 20px;
}

.news-module-hor-icon > img{
    width: 12px;
    height: 12px;
    margin-right: 5px;
    margin-top: 12px;
}

.news-module-hor-time{
    margin-top: 8px;
}

.news-head-bt{
    margin-top: 15px;
    width: 790px;
    display: block;
    margin-bottom: 25px;
    position: relative;
}

.news-head-bt > img{
    width: 98px;
    height: 32px;
    margin-right: 15px;
}

.news-head-bt .redspan{
    position: relative;
    width: 123px;
    height: 5px;
    background-color: #F00;
    display: inline-block;
    top: -1px;
}

.news-head-bt .greyspan{
    position: absolute;
    width: 553px;
    height: 2px;
    background-color: gray;
    top: 2px;
    left: 123px;
}

.news-bottom-button{
    margin-top: 15px;
    height: 20px;
    width: 790px;
    display: flex;
    margin-bottom: 25px;
    position: relative;
}

.bottom-lb{
    border-top: 2px solid #F00;
    width: 390px;
    margin-right: 10px;
    position: relative;
}

.button-lb{
    width: 142px;
    height: 32px;
    background-color: #F00;
    padding-top: 5px;
    padding-left: 10px;
    position: absolute;
    left:243px;
}

.button-lb > img{
    width: 16px;
    height: 16px;
}

.button-lb a{
    color: #FFF;
    font-size: 12px;
    margin-left: 5px;
}

.bottom-ls{
    border-top: 2px solid gray;
    width: 390px;
    margin-left: 10px;
    position: relative;
}

.button-ls{
    width: 142px;
    height: 32px;
    background-color: gray;
    padding-top: 5px;
    padding-left: 20px;
    position: absolute;
    left:0px;
}

.button-ls > img{
    width: 12px;
    height: 12px;
}

.button-ls a{
    color: #FFF;
    font-size: 12px;
    margin-left: 5px;
}
