/*Popular News Module*/

.news-wrapper-pop{
    width: 300px;
    /*height: auto;*/
    background-color: #ed1b23;
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    padding-left: 15px;
    color: #FFF;
}

.news-wrapper-pop-header{
    margin-bottom: 15px;
}

.news-wrapper-pop-left{
    width: 116px;
    display: inline;
}

.news-wrapper-pop-left > img{
    width: inherit;
    height: 33px;
}

.news-wrapper-pop-right{
    width: auto;
    float: right;
    display: inline;
    padding-right: 15px;
    padding-top: 18px;
    font-size: 10px;
}

.news-wrapper-pop-right > a > img{
    width: 10px;
    height: 10px;
    margin-left: 15px;
}

.news-module-hor-pop{
    width: auto;
    height: 75px;
    display: block;
    margin-bottom: 5px;
}

.news-module-hor-img-pop > img{

    height: inherit;
    float: left;
    display: inline-block;
    overflow: hidden;
}

.news-module-hor-img-pop{
    max-height: 70px;
    max-width: 70px;
    overflow: hidden;
    float: left;
}

.news-module-hor-content-pop{
    width: 180px;
    height: inherit;
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px;
}

.news-module-hor-title-pop{
    font-size: 10px;
    padding-top: 10px;
}

.news-module-hor-desc-pop{
    font-weight: normal;
    font-size: 8px;
    padding-top: 5px;
    font-style: italic;
}
