.backgroundContent{
    /*background-color: #f9f9f9;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.backgroundGreyContent{
    background-color: #F6F6F6;
}

.news-module-ver{
    width: 255px;
    height: auto;
    display: inline-block;
    margin-bottom: 15px;

    float: left;
    margin-right: 12px;
}

.news-module-ver:nth-child(3n) {
    margin-right: 0px;
}

.news-module-ver-img {
    position: relative;
}

.news-module-ver-img > img{
    /*width: inherit;*/
    width: 100%;
    height: 150px;
    background-color: red;
}

.news-module-ver-title{
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px;
}

.news-module-ver-etc{
    padding-top: 5px;
    display: inline-block;
    font-size: 10px;
    font-style: italic;
}

.news-module-ver-tag{
    background-color: #FF6600;
    color: #FFF;
    font-size: 10px;
    padding: 7px 15px;
    margin-top: 5px;
    position: relative;
}

.orange-tooltip > img{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 30px;
    top: -10px;
}

.news-module-ver-icon > img{
    width: 12px;
    height: 12px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px;
}

.news-module-ver-time{
    margin-top: 11px;
}

.news-head-rk{
    margin-top: 15px;
    width: 790px;
    display: block;
    margin-bottom: 25px;
    position: relative;
}

.news-head-rk > img{
    width: 152px;
    height: 32px;
    margin-right: 15px;
}

.news-head-rk .redspan{
    position: relative;
    width: 123px;
    height: 5px;
    background-color: #F00;
    display: inline-block;
    top: 3px;
}

.news-head-rk .greyspan{
    position: absolute;
    width: 465px;
    height: 2px;
    background-color: gray;
    top: 2px;
    left: 123px;
}





.news-head-cr{
    margin-top: 15px;
    width: 790px;
    display: block;
    margin-bottom: 25px;
    position: relative;
}

.news-head-cr > img{
    width: 104px;
    height: 34px;
    margin-right: 15px;
}

.news-head-cr .redspan{
    position: relative;
    width: 123px;
    height: 5px;
    background-color: #F00;
    display: inline-block;
    top: 3px;
}

.news-head-cr .greyspan{
    position: absolute;
    width: 543px;
    height: 2px;
    background-color: gray;
    top: 2px;
    left: 123px;
}






.news-head-kategori{
    margin-top: 15px;
    width: 790px;
    display: block;
    margin-bottom: 25px;
    position: relative;
}

.news-head-kategori > img{
    width: 157px;
    height: 43px;
    margin-right: 15px;
}

.news-head-kategori .redspan{
    position: relative;
    width: 123px;
    height: 5px;
    background-color: #F00;
    display: inline-block;
    top: 3px;
}

.news-head-kategori .greyspan{
    position: absolute;
    width: 465px;
    height: 2px;
    background-color: gray;
    top: 2px;
    left: 123px;
}








.news-head-gadget{
    margin-top: 15px;
    width: 790px;
    display: block;
    margin-bottom: 25px;
    position: relative;
}

.news-head-gadget > img{
    width: 107px;
    height: 34px;
    margin-right: 15px;
}

.news-head-gadget .redspan{
    position: relative;
    width: 123px;
    height: 5px;
    background-color: #F00;
    display: inline-block;
    top: 3px;
}

.news-head-gadget .greyspan{
    position: absolute;
    width: 465px;
    height: 2px;
    background-color: gray;
    top: 2px;
    left: 123px;
}






.news-head-terkait{
    margin-top: 15px;
    width: 790px;
    display: block;
    margin-bottom: 25px;
    position: relative;
}

.news-head-terkait > img{
    width: 107px;
    height: 32px;
    margin-right: 15px;
}

.news-head-terkait .redspan{
    position: relative;
    width: 123px;
    height: 5px;
    background-color: #F00;
    display: inline-block;
    top: 3px;
}

.news-head-terkait .greyspan{
    position: absolute;
    width: 465px;
    height: 2px;
    background-color: gray;
    top: 2px;
    left: 123px;
}

.mini-ls{
    position: absolute;
    color: #F00;
    right: -460px;
    top: -15px;
    font-size: 10px;
}

.mini-ls img{
    width: 10px;
    height: 10px;
    margin-left: 10px;
    top: -2px;
}


ul.s-baca-juga {
    list-style: none;
    padding:0;
    margin:0;
}

ul.s-baca-juga li {
    padding-left: 1em;
    text-indent: -.7em;
    margin-bottom: 10px;
}
ul.s-baca-juga li a {
    color: #333;
}

ul.s-baca-juga li:before {
    content: "• ";
    color: red; /* or whatever color you prefer */
}


a {
    color: #333;
}


/* video */

.duration {
    background: #808184;
    padding: 10px 15px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #fff;
}

.foto-count {
    background: #000;
    padding: 5px 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #fff;
    font-size: 12px;
}
