
.log-reg-module{
	width: 1100px;
	height: auto;
	border-left: 1px solid #e0e1e2;
	border-right: 1px solid #e0e1e2;
}

.log-reg-pretext{
	width: 1055px;
	height: 72px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	background-color: #FEFBE1;
	text-align: center;
	padding-top: 5px;
}

.log-reg-pretext-title{
	font-size: 16px;
	color: #F00;
	font-weight: bold;
}

.log-reg-pretext-content{
	font-size: 14px;
	color: #676767;
}

.log-reg-pretext-content > a{
	color: #F00;
	font-weight: bold;
}

.log-reg-midwrap{
	width: inherit;
	height: auto;
	margin-top: 25px;
	position: relative;
	display: flex;
}

.log-reg-title{
	font-size: 20px;
	text-align: center;
	color: #F00;
}

.log-reg-subtitle{
	font-size: 16px;
	text-align: center;
	font-style: italic;
	color: #676767;
	margin-bottom: 25px;
}

.log-reg-regbar > input{
	width: 427px;
	height: 51px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	margin-bottom: 15px;
	border: 1px solid #e5e6e7;

	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
}

.log-reg-button{
	position: relative;
}

.log-reg-button > button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 117px;
	height: 40px;
	background-color: orange;
	color: #FFF;
	border: none;
	padding-right:20px;
}

.log-reg-button > button:hover{
	background-color: #F00;
	color: #FFF;
}

.log-reg-button-img > img{
	position:absolute;
	width: 15px;
	height: 15px;
	top: 12px;
	left: 300px;
}

.log-reg-left{
	position: relative;
	width: 50%;
	height: auto;
	border-right: 1px dashed #e0e1e2;
}

.log-reg-left > .log-reg-subtitle{
	margin-bottom: 30px;
}

.log-reg-right{
	position: relative;
	width: 50%;
	height: auto;
	border-left: 1px dashed #ebebec;
}

.log-reg-logbar{
	position: relative;
}

.log-reg-logbar > input{
	width: 427px;
	height: 51px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	margin-bottom: 15px;
	border: 1px solid #e5e6e7;

	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
}

.log-reg-logbar > img{
	position: absolute;
	width: 16px;
	height: 20px;
	top: 15px;
	left: 450px;
}

.log-reg-misc{
}

.log-reg-misc .warning{
	width: 427px;
	height: 51px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	margin-bottom: 15px;
}
.log-reg-misc a{
	color: orange;
	font-style: italic;
	font-weight: bold;
}

.log-reg-misc-left{
	float:left;
	text-align:left;
	position: relative;
	width: 50%;
	height: auto;
}

.log-reg-misc-left{
	float:right;
	text-align:right;
	position: relative;
	width: 50%;
	height: auto;
}

.log-reg-button-long{
	position: relative;
}

.log-reg-atau > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 440px;
	height: 30px;
}

.log-reg-button-long-0 > button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 196px;
	height: 40px;
	background-color: orange;
	color: #FFF;
	border: none;
}

.log-reg-button-long > button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 196px;
	height: 40px;
	background-color: orange;
	color: #FFF;
	border: none;
	padding-left: 35px;
}

.log-reg-button-long > img{
	position: absolute;
	width: 48px;
	height: 48px;
	top: -4px;
	left: 175px;
}

